<layout>
  <div class="col col-12 fixed top-0 bottom-0 left-0 right-0 flex justify-center items-center bg-yellow">
    <div class="col-10 sm-col-8 md-col-6 lg-col-4 border-box bg-white navy rounded" style="box-shadow: 0 0 5rem 0 rgba(0,0,0,0.2)">
      <div class="col-12 border-box p3">
        <div class="col-12 border-box flex justify-center items-center px2">
          <div class="col-2"><img src="./../../../assets/logo.png"></div>
        </div>
        <div class="col-12 border-box center px2 pb2">
          <div class="h2 bold">小蜜蜂</div>
          <div class="h4 gray">—— Work Time Track System ——</div>
        </div>
        <div class="col-12 border-box flex justify-center items-center p1">
          <input class="col-12 border-box input center" type="tel" v-model="user.username" placeholder="username">
        </div>
        <div class="col-12 border-box flex justify-center items-center p1">
          <input class="col-12 border-box input center" type="password" v-model="user.password" placeholder="password">
        </div>
        <div class="col-12 border-box flex justify-center items-center p1">
          <a class="col-12 border-box btn btn-outline center login" @click="login">登录</a>
        </div>
      </div>
    </div>
  </div>
</layout>
