@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './modules/tree/tree';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.pd-1-1 {
  padding: 5px 5px;
}

.pd-1-2 {
  padding: 5px 10px;
}

.pd-1-3 {
  padding: 5px 15px;
}

.pd-1-4 {
  padding: 5px 20px;
}

.pd-2-1 {
  padding: 10px 5px;
}

.pd-2-2 {
  padding: 10px 10px;
}

.pd-2-3 {
  padding: 10px 15px;
}

.pd-2-4 {
  padding: 10px 20px;
}

.pd-3-1 {
  padding: 15px 5px;
}

.pd-3-2 {
  padding: 15px 10px;
}

.pd-3-3 {
  padding: 15px 15px;
}

.pd-3-4 {
  padding: 15px 20px;
}

.pd-4-1 {
  padding: 20px 5px;
}

.pd-4-2 {
  padding: 20px 10px;
}

.pd-4-3 {
  padding: 20px 15px;
}

.pd-4-4 {
  padding: 20px 20px;
}

.mg-1-1 {
  margin: 5px 5px;
}

.mg-1-2 {
  margin: 5px 10px;
}

.mg-1-3 {
  margin: 5px 15px;
}

.mg-1-4 {
  margin: 5px 20px;
}

.mg-2-1 {
  margin: 10px 5px;
}

.mg-2-2 {
  margin: 10px 10px;
}

.mg-2-3 {
  margin: 10px 15px;
}

.mg-2-4 {
  margin: 10px 20px;
}

.mg-3-1 {
  margin: 15px 5px;
}

.mg-3-2 {
  margin: 15px 10px;
}

.mg-3-3 {
  margin: 15px 15px;
}

.mg-3-4 {
  margin: 15px 20px;
}

.mg-4-1 {
  margin: 20px 5px;
}

.mg-4-2 {
  margin: 20px 10px;
}

.mg-4-3 {
  margin: 20px 15px;
}

.mg-4-4 {
  margin: 20px 20px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-32 {
  font-size: 32px;
}

.font-60 {
  font-size: 60px;
}

pre {
  background: #eee;
  padding: 10px;
}
